<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Web Photo Archive</title>
</head>
<body>
    <h1>Web Photo Archive</h1>
    <div th:if="${success}">
        <h3 th:text="${numPhotos &gt; 0 ? 'The photo archive was initialized successfully.' : 'The photo archive is clean'}"></h3>
            <table border="2" >
                <thead>
                <tr>
                    <td> Number of photos in archive </td>
                    <td> Total file size </td>
                </tr>
                </thead>
                <tbody>
                <tr >
                    <td th:text="${numPhotos}">num</td>
                    <td th:text="${totalFileSize}">num</td>
                </tr>
                </tbody>
            </table>
    </div>
    <div th:unless="${success}">
        <h3 th:text="${error}">error</h3>
    </div>

</body>
</html>